<%= @game.turn.name %> attacks <%= @game.opponent.name %> <br>
<%= @game.opponent.name %> now has <%= @game.opponent.hit_points %>/60 HP

  <form action='/switch_turn' method=post>
    <input type='submit' value='Ok...' >
  </form>
