<form action = "/names" method=post>
  <label for= 'player_one'>
    Player One
  <input type='text', name='player_one' >
  </label>
  <label for= "player_two">
    Player Two
  <input type='text', name='player_two' >
  </label>
  <input type='submit', value='Submit' >
  </form>
